body {
  background-color: #f5f5f5;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  background-color: #88180A;
  color: #fff;
}

a {
  color: #88180A;
}
a:hover {
  color: #CB240F;
}

nav ul {
  list-style: none;
  padding: 0;
}
nav li {
  display: inline-block;
  margin-right: 20px;
}
nav li:last-child {
  margin-right: 0;
}
nav a {
  text-decoration: none;
  color: #fff;
}
nav a:hover {
  color: #CB240F;
}

footer {
  background-color: #CB240F;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}